.filme-info{
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.load{
    color: #FFF;
}

.top-content img{
    width: 900px;
    max-height: 350px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top-content h1{    
    margin-top: 80px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 25px;
    color: #FFF;
    font-size: x-large;
    width: auto;
    background-color: rgb(189, 52, 52);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 5px;
}

.footer-content h3{
    padding: 10px;
    color: #FFF;
    background-color: rgb(189, 52, 52);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 5px;
    width: 80px;
    align-items: center;
    display: flex;
    padding-left: 15px;
}

.footer-content p{
    padding: 10px;
    background-color: rgb(208, 208, 208);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 15px;
    margin-top: 0%;
}


.filme-info button{
    background-color: rgb(189, 52, 52);
    color: #FFF;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    padding: 12px;
    transition: all 0.5s;
    align-items: center;
    border: none;
}

#salvar{
    margin-right: 10px;
}

.filme-info button a{
    margin-left: 10px;
}

.filme-info button:hover{
    background-color: #FFF;
    color: rgb(189, 52, 52);
}

.filme-info a{
    text-decoration: none; 
    color: #FFF;
    transition: all 0.5s;
    
}

.filme-info a:hover{
    color: rgb(189, 52, 52);
}